[submodule "src/Vendors/googletest"]
	path = src/Vendors/googletest
	url = https://github.com/google/googletest.git
[submodule "src/Vendors/cmdline"]
	path = src/Vendors/cmdline
	url = https://github.com/StoneHappy/cmdline.git
